<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Owners List</title>
    </head>
    <body>
        <h1 th:text="'List of Owners'"></h1>

        <table>
            <thead>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </thead>
            <tbody>
                <tr th:each="owner:${owners}">
                    <td th:text="${owner.id}">1</td>
                    <td th:text="${owner.firstName}">Dirk</td>
                    <td th:text="${owner.lastName}">Grently</td>
                </tr>
            </tbody>
        </table>

    </body>
</html>